{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set backgroundImage = false %}
{% if content.field_sfb_background_image.0 is not empty %}
  {% set backgroundImage = true %}
{% endif %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    backgroundImage ? 'has-background-image'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="content-wrapper" style="background-color:#{{ content.field_sfb_background_color.0 }};">
        {% if backgroundImage %}
          <div class="background-image-container">
            <div class="background-image" 
              style="background-image: url('{{ file_url(content.field_sfb_background_image.0['#media'].image.entity.fileuri) }}')">
            </div>
            <div class="overlay"></div>
          </div>
        {% endif %}
        {% if content.field_sfb_title.0 is not empty %}
          <h2 class="title-container">{{ content.field_sfb_title.0 }}</h2>
        {% endif %}
        {% if content.field_sfb_subtitle.0 is not empty %}
          <div class="subtitle-container">{{ content.field_sfb_subtitle.0 }}</div>
        {% endif %}
        <div class="cta-container {{ content.field_sfb_link_style.0 }}">
          <div class="inline-block">
            {{ content.field_sfb_link }}
            {% set linkStyle = content.field_sfb_link_style.0 | render %}
            {% if linkStyle == 'text_style' %}
              <i class="fas fa-arrow-right"></i>
            {% endif %}
          </div>
        </div> 
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
