#myproject-register-form-step-one,
#myproject-register-form-step-two,
#myproject-register-form-step-three {
  margin-bottom: 57px;

  > .header {
    margin-bottom: 15px;

    .register-account-title h2 {
      color: $shuttle-gray;
      font-family: $eagle-book-font;
      font-size: 24px;	
      font-weight: 300;	
      line-height: 26px;
      text-transform: uppercase;
    }
  
    .description {
      color: $shuttle-gray;
      font-family: $whitney-font;
      font-size: 17px;
      font-weight: 300;
      line-height: 21px;
    }
  }

  > h3 {
    margin-bottom: 20px;
    line-height: 1;
    color: $shuttle-gray;
    font-family: $eagle-book-font;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .form-actions {
    text-align: right;

    #edit-actions-next {
      background-color: $teal-green;
      border: none;

      &:hover {
        background-color: $jungle-green;
        border: none;
      }
    }

    #edit-actions-previous {
      background-color: $white;
      color: $teal-green;
      border: none;

      &:hover {
        color: $jungle-green;
        border: none;
      }
    }
  }
}

#myproject-register-form-step-two,
#myproject-register-form-step-three {

  .register-account-step:nth-of-type(1) {

    .material-icons {
      display: flex;
    }

    .step-number {
      background-color: $bahama-blue;
    }

    .step-text {
      color: $bahama-blue;
    }
  }
}

#myproject-register-form-step-three {

  div.register-account-step:nth-of-type(2) {

    .material-icons {
      display: flex;
    }

    .step-number {
      background-color: $bahama-blue;
    }

    .step-text {
      color: $bahama-blue;
    }
  }
}

.register-account-steps-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .register-account-step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.active {
      
      .step-number {
        border: 3px solid $bahama-blue;
      }

      .step-text {
        color: $bahama-blue;
      }
    }

    .material-icons {
      height: 22px;
      width: 22px;
      background-color: $dull-lime;
      border-radius: 50%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: $white;
      font-weight: 600;
      position: absolute;
      top: -6px;
      right: 16px;
      border: 2px solid $white;
    }

    .step-number {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 47px;
      width: 47px;
      border-radius: 32px;
      background-color: $aluminum;
      color: $white;
      font-family: $eagle-book-font;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
    }

    .step-text {
      color: $aluminum;
      font-family: $whitney-font;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    }
  }

  .divider-line {
    box-sizing: border-box;
    width: 7%;
    border: 0.5px solid $aluminum;
    opacity: 0.49;
    position: relative;
    display: inline-block;
    margin-top: -20px;

    @media (min-width: 383px) {
      width: 64px;
    }
  }
}

#account-step-container {

  > .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    > .form-item {
      flex-basis: 100%;
      margin: 0 0 15px;

      label,
      legend {
        color: $montana;
        font-family: $whitney-font;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        min-width: 136px;
      }

      input,
      .select2-container {
        max-width: 270px;
        width: 100%;
        display: inline-block;
      }

      &.form-item-step-container-last-name {

        @include media-breakpoint-up(md) {
          flex-basis: auto;
          margin-right: 24px;
        }
      }

      &.form-item-step-container-suffix {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        @include media-breakpoint-up(md) {
          flex-basis: 142px;
        }

        > label {

          @include media-breakpoint-up(md) {
            min-width: unset;
            margin: 0 5px 0 0;
          }
        }

        > .select2-container {
          max-width: 100px;
        }
      }

      .date-input-main-container {
        display: inline-block;
        max-width: 270px;
        width: 100%;

        .date-input-container,
        input {
          width: 100%;
        }
      }

      &.form-item-step-container-state {

        @include media-breakpoint-up(md) {
          flex-basis: 385px;
          margin-right: 46px;
        }
      }

      &.form-item-step-container-zip-code {

        @include media-breakpoint-up(md) {
          flex-basis: auto;
        }

        > input {

          @include media-breakpoint-up(md) {
            max-width: 100px;
          }
        }
      }

      &.form-item-step-container-phone-country-code,
      &.form-item-step-container-phone-area-code,
      &.form-item-step-container-phone-number,
      &.form-item-step-container-phone-number-ext {
        flex-basis: auto;

        > input {
          margin: 0;
        }
      }

      &.form-item-step-container-phone-country-code,
      &.form-item-step-container-phone-area-code {
        margin-right: 9px;

        > input {
          width: 60px;
          text-align: center;
        }
      }

      &.form-item-step-container-phone-number  {
        margin-right: 13px;

        > input {
          width: 80px;
          text-align: center;
        }
      }

      &.form-item-step-container-phone-number-ext {

        > label {
          min-width: unset;
        }

        > input {
          width: 63px;
        }
      }

      &.form-type-password-confirm {

        > label {
          display: none;
        }
      }
    }

    fieldset {

      > legend {
        width: auto;
        float: left;
        line-height: 2;
      }

      > .fieldset-wrapper {
        display: inline-block;

        > .form-radios {
          line-height: 1;

          > .form-type-radio {
            display: inline-block;
            margin: 0 30px 0 0;
            padding: 0;
            line-height: 1;
  
            > label {
              font-size: 14px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
}
