.block-newsletter-block {
  h3 {
    color: $white;
    font-family: $whitney-font;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1rem;
    margin: 0.375rem 0 0.5rem 0;
    text-transform: uppercase;
  }

  .form-control {
    box-sizing: content-box;
    height: auto;
    padding: 0.375rem 0.375rem 0.5rem 0.375rem;
    background: transparent;
    border: 1px solid $mercury;
    border-radius: 0;

    &::placeholder {
      text-transform: capitalize;
    }
  }

  .form-control,
  .form-control::placeholder {
    color: $white;
    font-family: $whitney-font;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .input-group-append {
    margin-left: 0;
  }

  .btn {
    color: $white;
    background-color: $pacific-blue;
    font-family: $eagle-book-font;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 0;
    min-width: 94px;
    padding: 9px;
  }
}
