.block-program-global-result-block {
  background-color: $wild-sand;
}

#program-result-global-block {
  padding: 1.0625rem;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    height: 3.1875rem;
    width: 0.125rem;
    bottom: -1.5313rem;
    border: 1px solid $dusty-gray;
  }

  .program-cards {
    margin-top: 16px;

    .btn-load-more {
      display: block;
      text-align: right;
      color: $bahama-blue;
      font-family: $customfont-font;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.25rem;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }

  .programs-container {
    margin-bottom: 0.625rem;
  }

  .heading {
    color: $mine-shaft;
    font-family: $whitney-font;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8125rem;
    margin: 0;

    .searched-keywords {
      color: $bahama-blue;
    }
  }

  .programs-cta {
    text-align: center;
    margin-bottom: 2.125rem;
  }

  .programs-cta .btn {
    padding: 0.6875rem 1.3125rem 0.8125rem 1.3125rem;
    color: $white;
    background-color: $bahama-blue;
    border: none;
    border-radius: 0;
    font-family: $eagle-font;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.25rem;

    span {
      font-weight: 600;
      font-size: 0.9375rem;
    }
  }

  // Styles for when there are no results.
  &.no-programs {
    .program-cards {
      margin-bottom: 3.0625rem;
    }

    .program-cards>span {
      color: $shuttle-gray;
      font-family: $whitney-font;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.8125rem;
    }

    .programs-cta {
      text-align: right;
      margin-bottom: 1rem;

      .btn {
        font-weight: 600;
        font-size: 0.9375rem;
      }
    }

    &::after {
      display: none;
    }
  }
}

.node--view-mode-program-global-result {
  margin-bottom: 16px;

  .node__content {
    height: 100%;
  }

  .media {
    padding: 0.625rem;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba($emperor, 0.78);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 170px;
    height: 100%;
  }

  img {
    width: 5rem;
    height: 5rem;
    margin-right: 0.75rem;
    object-fit: cover;
    object-position: center;
  }

  .media-body {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  h5 {
    font-family: Whitney;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.3125rem;
    margin-bottom: 0;
    word-break: break-word;
    flex-grow: 1;

    @include media-breakpoint-up(sm) {
      min-height: 60px;
    }

    a {
      color: $bahama-blue;
    }
  }

  .description-container {
    margin-top: 1rem;
    margin-bottom: 5px;
    color: $mine-shaft;
    font-family: $whitney-font;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 0.9375rem;
    text-transform: uppercase;
    min-height: 45px;
    max-width: 158px;

    >span:nth-child(2) {
      font-weight: 300;
    }
  }

  .field--name-field-ipp-prices {
    >.field__item {
      display: inline-block;
    }

    >.field__item:not(:first-of-type)>.paragraph--type--program-prices::before {
      content: '/ ';
    }

    >.field__item .paragraph--type--program-prices .field__item {
      display: inline-block;

      &:first-of-type::before {
        content: '$';
      }
    }
  }

  .btn {
    padding: 0.5625rem;
    color: $white;
    background-color: $finn;
    border: none;
    border-radius: 0;
    font-family: $eagle-book-font;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    align-self: flex-end;
  }
}
