.block--address {
  color: $white;
  margin: 0.4375rem 0;

  p {
    font-family: $whitney-font;
    font-weight: 700;
    line-height: 1.3rem;
    margin: 0;
    color: $white;

    span {
      color: $mercury;
      font-weight: 500;
    }
  }

  .block--address--second {
    margin-top: 1.4375rem;
  }
}
