.block-social-media-links-block {
  margin-top: 32px;

  .social-networks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;

    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
    }
  }

  a {
    font-size: 25px;
    color: $white;

    &:not(:first-of-type) {
      margin-left: 10px;
    }

    &:hover {
      color: $white;
    }
  }
}
