nav.breadcrumb {
  @extend .container;
  background: none;
  padding: 8px 0 0;

  @include media-breakpoint-up(sm) {
    padding: 8px 8px 0;
  }

  ol,
  ul {
    width: 100%;
    padding: 0 8px 8px;
    border-bottom: 1px solid rgba(99,102,106,0.26);

    @include media-breakpoint-up(sm) {
      padding: 0 0 8px;
    }
  }

  li {
    color: $mine-shaft;

    &:before {
      content: '>';
      color: $black;
    }

    &:first-child:before {
      content: none;
    }
  }

  a {
    color: $black;
    text-decoration: none;
  }

  li,
  a {
    font-family: $whitney-font;
    font-size: 14px; 
    font-weight: 300;	
    line-height: 16px;
  }
}