.paragraph--type--button {

  .field--name-field-btnpar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 15px;	
      font-weight: 300;	
      line-height: 20px;
      font-family: $eagle-book-font;
      padding: 16px;
      border-radius: 4px;
      background-color: $pacific-blue;
      box-shadow: 0 0 7px 0 rgba(0,0,0,0.3);
    }
  }

  .field--name-field-sidebar-content & {

    .field--name-field-btnpar-link a {
      flex-grow: 1; 
    }
  }
}