.paragraph--type--cta-block {
  background-color: #F2F2F2;
  padding: 16px;
  margin: 0 auto;

  .field--name-field-cta-text {
    margin-bottom: 24px;
  }

  .field--name-field-cta-link {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $white;	
      font-family: $eagle-book-font;	
      font-size: 16px;	
      font-weight: 300;	
      line-height: 20px;
      background-color: $bahama-blue;
      text-transform: uppercase;
      padding: 8px 18px;
    }
  }
}