.block-dual-search-block {
  @extend .main--blur-overlay;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  &::before {
    z-index: 0;
  }

  .close-button-container {
    height: 48px;
    width: 115.25px;
    background-color: $pacific-blue;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin: 0 0 0 auto;
    top: 0;
    right: 0;
    cursor: pointer;

    .text {
      font-family: $eagle-book-font;
      font-size: 15px;
      font-weight: 300;
      line-height: 18px;
      text-transform: uppercase;
    }
  }

  .main-forms-container {
    background-color: $alabaster;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 15%;
    left: 0;

    @include media-breakpoint-up(sm) {
      left: calc(50% - 270px);
    }

    @include media-breakpoint-up(md) {
      left: calc(50% - 360px);
    }

    @media (min-width: 856px) {
      min-height: 255px;
    }

    @include media-breakpoint-up(lg) {
      left: calc(50% - 480px);
    }

    @include media-breakpoint-up(xl) {
      left: calc(50% - 570px);
    }

    .material-icons {
      position: absolute;
      top: 20px;
      right: 24px;
      color: $bahama-blue;
      cursor: pointer;
    }

    .title {
      color: $mine-shaft;
      font-family: $eagle-book-font;
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
      text-transform: uppercase
    }
  }

  form.dual-search-form {
    width: 100%;

    > .form-radios {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 14px;

      > .form-item {
        margin: 0 0 10px;
        line-height: 1;

        &:first-child {
          margin-right: 32px;
        }

        > label.option {
          color: $shuttle-gray;
          font-family: $customfont-font;
          font-size: 18px;
          font-weight: 500;
          line-height: 18px;

          &.active {
            color: $black;
          }
        }
      }
    }
  }

  .forms-container {
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  }

  form.program-classes-search-form,
  form.global-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @media (min-width: 856px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    > .form-item {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border-right: 1px solid $gainsboro;
      padding: 10px 15px;
      min-height: 59px;
      height: auto;
      width: 100%;

      @media (min-width: 856px) {

        &.form-item-keyword,
        &.form-item-keywords {
          max-width: 32%;
        }

        &.form-item-category,
        &.form-item-age,
        &.form-item-season,
        &.form-item-day {
          max-width: 17%;
        }
      }

      > label {
        margin: 0;
        color: $mine-shaft;
        font-family: $eagle-book-font;
        font-weight: 300;
        line-height: 20px;
        font-size: 12px;
        text-transform: uppercase;
      }

      > input,
      > input::placeholder,
      > select {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        color: $shuttle-gray;
        font-family: $whitney-font;
        font-size: 16px;	
        font-weight: 500;
        line-height: 18px;
      }

      .select2-selection {
        background: none;
        border: none;
        height: 20px;

        .select2-selection__rendered {
          line-height: 1.5;
          padding-left: 0;

          .placeholder-container > .light {
            color: $shuttle-gray;
            font-family: $whitney-font;
            font-size: 14px;	
            font-weight: 500;
            line-height: 18px;
          }
        }

        .select2-selection__arrow {
          top: 0;
          
          b::before {
            font-size: 24px;
          }
        }
      }
    }

    > input.button.form-submit {
      @include button("small", $bahama-blue);
      height: 42px;
      width: 110px;
      margin: 0 auto 15px;
      padding: 0;
      
      @media (min-width: 856px) {
        margin-bottom: 0;
      }
    }
  }

  form.program-classes-search-form {
    display: none;

    @media (min-width: 856px) {
      align-items: stretch;

      input.button.form-submit {
        align-self: center;
      }
    }
  }

  form.global-search-form {
    justify-content: space-between;

    > .form-item {
      border: none;

      @media (min-width: 856px) {
        max-width: 88%;
      }
    }
  }
}
