.field--name-field-feature-square {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: 648px) {
    flex-direction: row;
    margin-bottom: -35px;
  }

  > .field__item {
    width: 100%;
    margin-bottom: 16px;

    @media (min-width: 404px) {
      padding: 0 36px;
    }

    @media (min-width: 648px) {
      display: inline-block;
      margin-right: 16px;
      max-width: 300px;
      height: 136px;
      padding: 0;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      &:nth-child(2n) {
        margin-right: 16px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include media-breakpoint-up(xl) {
      width: 269px;
      height: 122px;

      &:nth-child(3n) {
        margin-right: 16px;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

.paragraph--type--feature-cards.container {
  margin-top: 20px;
  
  @media (max-width: 767px) {
    max-width: unset;
  }
}

.paragraph--type--feature-square {
  height: inherit;
  position: relative;

  img {
    width: 100%;
  }

  .feature-text {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($bahama-blue, 0.61);
    transition: background-color .2s ease-out;

    &:hover {
      background-color: rgba($bahama-blue, 1);
    }

    h2,
    h3 {
      color: $white;
      font-family: $whitney-font;
      font-size: 21px;
      line-height: 1.625rem;
      margin-bottom: 0;
      text-align: center;
      max-width: 240px;
    }

    h2 {
      font-weight: 500;
    }

    h3 {
      font-weight: 300;
    }
  }
}
