@import 'block--address';
@import 'menu--footer-nav';
@import 'block--newsletter';
@import 'block--social-media-links';

footer {
  background-color: $mine-shaft;
  padding: 1.5rem 0 0 0;
  filter: blur(0);

  .brand-section {
    display: none;

    @include media-breakpoint-up(md)  {
      display: block;
    }
  }
}

.footer--row--second {
  margin-top: 0.4375rem;
}

.footer--row--third {
  background: $white;
  padding: 0.875rem 0;

  .block-fixed-block-contentfooter-info-extra > .field--name-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(sm)  {
      flex-direction: row;
    }
  }

  p {
    display: inline-block;
    margin: 0 0.375rem 5px;
    color: $mine-shaft;
    font-family: $whitney-font;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 0.9375rem;

    &:first-child {
      order: 1;

      @include media-breakpoint-up(sm)  {
        order: 0;
      }
    }
  }

  img {
    height: 9px;
    width: auto;
  }
}
