form {

  .form-item {

    > .fieldset-wrapper > .webform-options-display-side-by-side {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
    }

    label {
      color: $mine-shaft;
      font-family: $whitney-font;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
    }

    input,
    select,
    textarea {
      color: $black;	
      font-family: $whitney-font;	
      font-size: 16px;	
      font-weight: 300;	
      line-height: 19px;
      border: 1px solid $zircon;	
      border-radius: 2px;	
      background-color: $alabaster;
      padding: 10px;
      outline: none;

      &::placeholder {
        color: $tin;
        font-family: $whitney-font;	
        font-size: 16px;	
        font-weight: 300;	
        line-height: 19px;
      }

      &:focus {
        border-color: $jungle-green;
      }
    }

    .date-input-container {
      display: inline-block;
      position: relative;

      input {
        padding-right: 40px;
      }

      .material-icons {
        display: block;
        position: absolute;
        top: 13px;
        right: 10px;
        color: $loblolly;
      }

      img {
        display: none;
      }
    }

    .radio-input-container,
    .checkbox-input-container {
      display: inline-block;
      position: relative;
      cursor: pointer;
      user-select: none;
      width: 20px;
      height: 20px;

      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        width: 20px;
        height: 20px;
        z-index: 1;

        &:checked ~ .checkmark {
          border: 2px solid $bahama-blue;
        }
      }

      .checkmark {
        background: none;
        border: 2px solid $shuttle-gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: inherit;
        width: inherit;
        z-index: 0;
        margin-right: 15px;

        &:after {
          content: "";
          display: block;
          background: none;
        }
      }
    }

    .radio-input-container {

      input {

        &:checked ~ .checkmark:after {
          background: $bahama-blue;
        }
      }

      .checkmark {
        border-radius: 50%;
  
        &:after {
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
    }

    .checkbox-input-container {

      input {

        &:checked ~ .checkmark:after {
          border-color: $bahama-blue;
        }
      }

      .checkmark {
  
        &:after {
          width: 5px;
          height: 10px;
          border: solid $white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }
    }

    .select2-container--default {
      width: 100% !important;

      .select2-selection--single,
      .select2-selection--multiple {
        border: 1px solid $zircon;
        border-radius: 2px;
        background-color: $alabaster;
        height: 42px;
        outline: none;

        .select2-selection__rendered {
          line-height: 2.5;
          height: inherit;
          padding-right: 25px;

          .select2-selection__choice {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: none;
            text-transform: capitalize;
            width: 90%;
          }

          .placeholder-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: inherit;
            overflow: hidden;

            .bold {
              font-family: $eagle-book-font;
              text-transform: uppercase;
              font-weight: 300;
              font-style: normal;
              font-size: 12px;
              line-height: 1;
              color: $mine-shaft;
              margin-bottom: 10px;
            }

            .light {
              font-family: $eagle-font;
              text-transform: capitalize;
              font-size: 11px;
              line-height: 1;
              font-weight: 300;
              color: $loblolly;
            }

            .light-content {
              font-family: $customfont-font;
              text-transform: capitalize;
              font-size: 12px;
              line-height: 1;
              font-weight: 300;
              color: $shuttle-gray;
            }
          }
        }

        .select2-selection__arrow {
          top: 10px;
          right: 5px;

          b {
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10px;
            color: $bahama-blue;
             
            &::before {
              font-family: "Material Icons";
              content: "\e5cf";
            }
          }
        }
      }

      .select2-selection--multiple {
        height: auto !important;

        .select2-selection__rendered {
          line-height: 1;
          height: auto;
          padding: 0
        }
      }

      &.select2-container--open {

        .select2-selection--single {

          .select2-selection__arrow {
  
            b {

              &::before {
                content: "\e5ce"
              }
            }
          }
        }
      }
    }

    .password-strength__indicator.is-weak {
      background-color: #BE4D00;
    }
    .password-strength__indicator.is-fair {
      background-color: #F68D2E;
    }
    .password-strength__indicator.is-good {
      background-color: #279989;
    }
    .password-strength__indicator.is-strong {
      background-color: #006F62;
    }
  }

  .form-actions {

    .button.form-submit {
      @include button();
    }
  }
}

.select2-results__options {

  > .select2-results__option[role=treeitem] {
    color: $shuttle-gray;
    font-family: $whitney-font;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.3;

    &::before {
      content: "";
      height: 16px;
      width: 16px;
      border: 1px solid $shuttle-gray;
      margin-right: 10px;
      font-family: "Material Icons";
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 12px;
      flex-shrink: 0;
      flex-grow: 0;
    }

    &[aria-selected=true] {
      background: none;

      &::before {
        content: "\e876";
        background-color:$bahama-blue;
      }
    }
  }
}

.select2-container--default {

  .select2-dropdown--below {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
  }

  .select2-search--dropdown {

    .select2-search__field {
      outline: none;
    }
  }

  .select2-results {

    li.select2-results__option {

      &.select2-results__option--highlighted {
        background-color: rgba(99,102,106,0.1);
        color: $black;
      }
    }
  }
}
