.view-global-search {
  padding-top: 25px;

  .heading {
    padding-bottom: 17px;

    h2 {
      color: $mine-shaft;
      font-family: $whitney-font;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.8125rem;
      margin: 0;

      .searched-keywords {
        color: $bahama-blue;
      }
    }
  }

  .views-row {
    .views-field-title {
      padding-bottom: 10px;

      a {
        color: $bahama-blue;
        font-family: $whitney-font;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      }
    }
    .views-field-body p {
      color: $shuttle-gray;

      strong {
        color: $mine-shaft
      }
    }
  }
}

.path-search {
  nav.breadcrumb {
    display: none;
  }

  #program-result-global-block {

    &:after {
      display: none;
    }
  }

  .block-views-exposed-filter-blockglobal-search-search-page {
    background-color: rgba($shuttle-gray, 0.82);
    box-shadow: 0 0.0625rem 0.25rem 0 rgba($black, 0.5);
    border-top: 1px solid $white;
    padding-bottom: 15px;

    .form-type-search-api-autocomplete {
      display: inline;
      margin: 0px;
      background: $white;
      padding: 0px;
      height: 42px;
      align-items: center;
      border: 1px solid $zircon;
      border-radius: 2px;

      .icon-search {
        display: inline-block;
        left: 5px;
        top: 5px;
        position: relative;
      }

      .form-autocomplete {
        font-family: $whitney-font;
        font-weight: 300;
        line-height: 29px;
        font-size: 24px;
        height: 34px;
        border: 0;
        display: inline-block;

        @include media-breakpoint-up(xs) {
          width: 90%;
        }

        @include media-breakpoint-up(lg) {
          width: 600px;
        }

        @include media-breakpoint-up(xl) {
          width: 600px;
        }
      }
    }

    label {
      color: $white;
      font-family: $customfont-font;
      font-size: 23px;
      font-weight: 500;
      line-height: 20px;
      text-transform: uppercase;
      display: block;
      margin-top: 5px;
      padding-right: 10px;
    }

    .form-actions {
      display: inline-block;
      position: relative;
      margin: 0;

      .button {
        border: none;
        height: 41px;
      }
    }
  }
}
