#head-transparent > .container-fluid {
  position: relative;
}

.head-menu {
  background-color: $shuttle-gray;
  align-items: center;
  padding: 10px 20px;
  height: 63px;
  position: relative;
  z-index: 2;

  @media (min-width: 1200px) {
    height: 43px;
    padding: 0;
    background-color: $mine-shaft;
  }

  .brand-section {
    flex: 1 1 50%;
    max-width: unset;
    padding: 0;

    @media (min-width: 1200px) {
      display: none;
    }

    a {
      display: inline-block;

      img {

        @media (min-width: 1200px) {
          width: 70%;
        }
      }
    }
  }

  .nav-item,
  .nav-item>a {
    font-family: $whitney-font;
    font-size: 16px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
    font-weight: 300;
    line-height: 1rem;
    color: $white;
  }

  .nav-item {
    &.show {
      background-color: rgba($black, 0.19);
    }

    >.nav-link {
      padding-top: 0.75rem;
      padding-bottom: 0.875rem;

      .fa-user {
        font-size: 14px;
      }
    }
  }

  .dropdown-toggle::after {
    vertical-align: middle;
    border-top: 0.3em solid;
    border-right: 0.25em solid transparent;
    border-left: 0.25em solid transparent;
  }

  .svg-inline--fa.fa-w-16 {
    width: 18px;
    height: 24px;
  }

  .dropdown-menu {
    background-color: $white;
    box-shadow: 0 0 7px 1px rgba($black, 0.49), 0 2px 4px 0 rgba($black, 0.5);
    padding: 24px;
    border-radius: 0;
    border: none;
    margin: 0;
    min-width: 8rem;
    @include media-breakpoint-down(sm) {
      min-width: 7rem;
    }

    .dropdown-item {
      color: $shuttle-gray;
      font-family: $whitney-font;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.6875rem;
      padding: 0;

      &:hover {
        background-color: $white;
        color: $bahama-blue;
        text-decoration: underline;
      }
    }
  }

  // Utility menu (left)

  .menu--utility-menu {
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  .mm-page .utility-menu {
    margin-left: 12px;
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  // Style search icon in 'User menu'
  ul.user-menu {

    > li.nav-item:not([aria-label="User Menu"]) {
      display: none;

      @media (min-width: 1200px) {
        display: block;
      }
    }

    > li.nav-item .fa-layers>.fa-layers-counter {
      background-color: $pacific-blue;
      color: $black;
      font-weight: 600;
      border: 1px solid $mine-shaft;
      right: -0.4rem;
      top: -0.5rem;
      zoom: 260%;
    }
  }
  .user-menu .nav-item:last-of-type {
    background-color: $pacific-blue;

    .nav-link {
      padding: 9px 14px;
    }
  }
}

.responsive-menu-toggle {

  .responsive-menu-toggle-icon {
    width: 28px;

    &:before,
    &:after,
    .icon {
      left: 0;
      width: 26px;
    }

    .label {
      font-size: 9px;
      top: 21px;
      left: 0;
    }
  }
}
