.view-hero-slider {
  padding-top: 18px;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }

  .slick-slide article {
    position: relative;
    height: 572px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-position: 50%;
    background-size: cover;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0.7;
      background: linear-gradient(359.74deg, rgba(5,5,5,0.9) 0%, rgba(0,0,0,0.3) 52.55%, rgba(10,10,10,0.9) 100%);
      height: 100%;
      z-index: 0;
    }

    .node__content {
      color: $white;
      position: absolute;
      padding: 0 8px;
      font-family: $customfont-font;
      bottom: 40px;

      .node__content-inner {
        max-width: 60%;
        display: inline-block;
      }

      h2 {
        font-size: 30px;
        text-transform: uppercase;
        line-height: 36px;
        font-family: $customfont-font;
      }

      .field--name-title {
        font-family: $customfont-font;
        font-size: 40px;
        line-height: 48px;
      }

      .field--name-title,
      .field--name-field-subtitle {
        text-transform: uppercase;
        font-weight: 300;
        color: $white;
      }

      .field--name-field-subtitle {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 2px solid $white;
        font-family: $customfont-font;
        font-size: 24px;
      }

      .field--name-body {
        font-family: $customfont-font;
        font-size: 18px;
        font-weight: 500;	
        line-height: 22px;
        margin-bottom: 32px;

        * {
          color: $white;
        }
      }

      .field--name-field-link {
        overflow: hidden;
        &:hover {
          color: $pacific-blue;
        }
        a {
          color: $white;
          text-decoration: underline;
          text-transform: uppercase;

          font-family: $eagle-book-font;
          font-size: 16px;	
          font-weight: 300;	
          line-height: 18px;

          &:hover {
            color: $pacific-blue;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .slick-slide {
      outline: none;
      padding: .5rem .5rem;
      &.slick-active {
        padding: 0 .5rem;
        article {
          height: calc(250px + 1rem);
          transition: height 0.5s fade-in;
        }
      }
      article {
        height: 250px;
        align-items: center;

        .node__content {
          padding: .75rem .75rem 0;
          font-size: 80%;
          top: 15%;
          
          .node__content-inner {
            max-width: 85%;

            > h2 {
              margin: 0;
            }
          }
          
          .field--name-title {
            white-space: normal;
            font-family: $customfont-font;
            font-size: 16px;
            line-height: 1;
          }

          .field--name-field-subtitle {
            font-size: 16px;
            line-height: 1;
          }
          
          .field--name-body {
            display: none;
          }
        }

        .field--name-field-link {
          display: none;
        }

        h2 {
          font-size: 1.3rem;
        }
      }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: .75rem 0;
    list-style-type: none;
    text-align: center;
    width: 100%;

    @media (min-width: 1200px) {
      position: absolute;
      bottom: 6px;
    }
    

    li {
      margin: 0 0.4rem;
      max-height: 2rem;
    }
    button {
      display: block;
      width: .75rem;
      height: .75rem;
      padding: 0;
      margin-top: .35rem;
      border: none;
      border-radius: 100%;
      background-color: $gray-600;
      text-indent: -9999px;
      &.play {
        margin-top: 0;
      }
    }
  
    li.slick-active button {
      background-color: $gray-200;
    }
  
    .play {
      cursor: pointer;
      display: inline-block;
      background-color: $gray-200;
      height: 2rem;
      width: 2rem;
      z-index: 1;
      @include mask(url('../icons/pause_circle.svg') no-repeat 100% 100%);
      @include mask-size(cover);
      &:hover {
        background-color: $gray-500;
      }
      &.paused {
        @include mask(url('../icons/play_circle.svg') no-repeat 100% 100%);
        @include mask-size(cover);
      }
    }
  
  }
}

.slick-next,
.slick-prev {
  cursor: pointer;
  display: inline-block;
  background-color: $gray-300;
  height: 2.5rem;
  width: 3rem;
  z-index: 1;
  &:hover {
    background-color: $gray-100;
  }
}
.slick-next {
  @include mask(url('../icons/arrow_right.svg') no-repeat 100% 100%);
  @include mask-size(cover);
}
.slick-prev {
  @include mask(url('../icons/arrow_left.svg') no-repeat 100% 100%);
  @include mask-size(cover);
}
