.page-node-type-landing-page {

  .header-content-container {
    min-height: 270px;

    @media (min-width: 1200px) {
      margin-top: -90px;
    }
  }

  .main-content-container {
    padding-top: 92px;

    @include media-breakpoint-up(md) {
      padding-top: 0;
    }
  }

  &.has-header-content .main-content-container {
    padding-top: 0;
  }
}

.node--type-landing-page {

  .content-container {
    margin-bottom: 40px;

    .field--name-field-content > .field__item {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h1 {
    color: $mine-shaft;
    font-family: $customfont-font;
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.2px;

    .path-frontpage & {
      display: none;
    }
  }

  a {
    color: $bahama-blue;
    text-decoration: none;
    &:hover {
      color: $pacific-blue;
      text-decoration: underline;
    }
  }
}
