@mixin mask($value) {
  -webkit-mask: $value;
          mask: $value;
}

@mixin mask-size($value) {
  -webkit-mask-size: $value; /* Chrome, iOS, Safari */
          mask-size: $value; /* None yet / Non-standard */
}

@mixin button($size: 'medium', $background-color: $pacific-blue, $transparent: false) {
  text-transform: uppercase;
  border-radius: 0;
  font-family: $eagle-book-font;
  color: $white;
  font-weight: 300;
  background-color: $background-color;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  @if $size == 'large' {
    padding: 24px;
    font-size: 15px;
    height: 56px;
    line-height: 12px;
  } 
  @else if $size == 'medium' {
    padding: 16px;
    font-size: 16px;
    height: 42px;
    line-height: 10px;
  }
  @else if $size == 'small' {
    padding: 12px;
    font-size: 15px;
    height: 36px;
    line-height: 12px;
  }

  @if $background-color == $pacific-blue {
    &:hover {
      background-color: $bahama-blue;
    }
  }

  @if $background-color == $bahama-blue {
    &:hover {
      background-color: $pacific-blue;
    }
  }

  @if $background-color == $finn {
    &:hover {
      background-color: $trendy-pink;
    }
  }

  @if $transparent {
    color: $black;
    background-color: $white;
    padding: 24px;
    font-size: 16px;
  }
}

@mixin prefix($declarations, $prefixes: ()) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
  }
}