// --- customfont Fonts ---
@font-face {
  font-family: 'customfont';
  src: url('../fonts/customfont-Light.woff2') format('woff2'),
    url('../fonts/customfont-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'customfont';
  src: url('../fonts/customfont-Medium.woff2') format('woff2'),
    url('../fonts/customfont-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

// --- Eagle Fonts ---
@font-face {
  font-family: 'Eagle';
  src: url('../fonts/Eagle-Light.woff2') format('woff2'),
      url('../fonts/Eagle-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Eagle';
  src: url('../fonts/Eagle-Bold.woff2') format('woff2'),
      url('../fonts/Eagle-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Eagle Book';
  src: url('../fonts/Eagle-Book.woff2') format('woff2'),
      url('../fonts/Eagle-Book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

// --- Whitney Fonts ---
@font-face {
  font-family: 'Whitney';
  src: url('../fonts/Whitney-BoldItalic.woff2') format('woff2'),
      url('../fonts/Whitney-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('../fonts/Whitney-BlackItalic.woff2') format('woff2'),
      url('../fonts/Whitney-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('../fonts/Whitney-SemiboldItalic.woff2') format('woff2'),
      url('../fonts/Whitney-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('../fonts/Whitney-MediumItalic.woff2') format('woff2'),
      url('../fonts/Whitney-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney Book';
  src: url('../fonts/Whitney-Book.woff2') format('woff2'),
      url('../fonts/Whitney-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney Book';
  src: url('../fonts/Whitney-BookItalic.woff2') format('woff2'),
      url('../fonts/Whitney-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('../fonts/Whitney-LightItalic.woff2') format('woff2'),
      url('../fonts/Whitney-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney Semibold';
  src: url('../fonts/Whitney-Semibold.woff2') format('woff2'),
      url('../fonts/Whitney-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('../fonts/Whitney-Light.woff2') format('woff2'),
      url('../fonts/Whitney-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('../fonts/Whitney-Black.woff2') format('woff2'),
      url('../fonts/Whitney-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('../fonts/Whitney-Bold.woff2') format('woff2'),
      url('../fonts/Whitney-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('../fonts/Whitney-Medium.woff2') format('woff2'),
      url('../fonts/Whitney-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body,
p {
  color: $mine-shaft;
  font-family: $whitney-font;
  font-size: 16px; 
  font-weight: 300;	
  line-height: 23px;
}

h2 {
  font-family: $whitney-semibold-font;
  font-size: 20px;
  color: $white;
  font-weight: 300;
  line-height: 23px;
}
