// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$grid-gutter-width: 16px;
$customfont-font: 'customfont', sans-serif;
$eagle-font: 'Eagle', sans-serif;
$eagle-book-font: 'Eagle Book', sans-serif;
$whitney-font: 'Whitney', sans-serif;
$whitney-semibold-font: 'Whitney Semibold', sans-serif;

$shuttle-gray:    #63666A;
$jungle-green:    #279989;
$sea-buckthorn:   #F68D2E;
$lavender-purple: #A482AF;
$pacific-blue:    #009CBD;
$contessa:        #C16784;
$dusty-gray:      #979797;
$bahama-blue:     #006A8E;
$mercury:         #E8E8E8;
$mercury-dark:    #E1E1E1;
$mine-shaft:      #3F3F3F;
$alto:            #D9D9D9;
$concrete:        #F2F2F2;
$armadillo:       #494949;
$genoa:           #156F62;
$zircon:          #E0E0E1;
$finn:            #66435A;
$trendy-pink:     #8D6E97;
$mountain-mist:   #969696;
$iron:            #D8D8D8;
$alabaster:       #FCFCFC;
$tin:             #7D7F81;
$loblolly:        #B7B7B7;
$teal-green:      #006F62;
$rose-sharon:     #BE4D00;
$pansy-purple:    #7D2248;
$magnesium:       #B2B2B2;
$gainsboro:       #DCDCDC;
$gallery:         #F0F0F0;
$wild-sand:       #F5F5F5;
$emperor:         #515151;
$aluminum:        #999999;
$montana:         #3A3A3A;
$dull-lime:       #47C031;
$gallery:         #EFEFEF;
$pale-sky:        #707276;
$stack:           #8B8B8B;
$aqua-haze:       #EEF7F5;
$light-gray:      #D1D1D1;
$scarpa-flow:     #6B6B6B;
$rolling-stone:   #737577;

$menu-colors: $jungle-green $sea-buckthorn $lavender-purple $pacific-blue $contessa;
$tag-colors: $teal-green $jungle-green 
             $rose-sharon $sea-buckthorn 
             $finn $trendy-pink 
             $bahama-blue $pacific-blue 
             $pansy-purple $contessa;